<div class="eventinfo_box">
    <div class="tabsafeev">
        <div class="tabmian">
            <!--事件加载-->
            <div class="tabmiantxt" style="display:block;">
                <hr />
                <div class="filtrate" >
                    <div class="tabdiv">
                        <label>协议类型 </label>
                        <label>起始时间 </label>
                        <label>端口 </label>
                        <label>IP地址 </label>
                        <label>MAC地址 </label>
                    </div>
                    <div class="tabdiv">
                        <label>协议类型 </label>
                        <label>起始时间 </label>
                        <label>端口 </label>
                        <label>IP地址 </label>
                        <label>MAC地址 </label>
                    </div>
                </div>
                <div class="tabel_div">
                    <table data-id="$elementId$_tdAuditList" id="$elementId$_tdAuditList"></table>
                    <div class="allevent">总共 <span style="color:#ff8761;" data-id="$elementId$_lblTotalRule" id="$elementId$_lblTotalRule"> 0</span> 条记录</div>
                </div>
                <div class="evpage" data-id="$elementId$_pagerContent" id="$elementId$_pagerContent"></div>
            </div>
        </div>
    </div>
</div>
