<!-- <div class="guide-bg"> -->
    <!--导航遮罩-->
    <div class="shade-nav"></div>
    <!--导航遮罩-->
    <!--文字提示框-->
    <div class="promptbox  pos-prompt01">
        <div class="prompt-text">
            <p class="font-blue">OK!您已经完成引导！</p>
            <p class="font-blue"> P.S.：您在引导过程中学习的所有数据将会清空。</p><br />
            <p>
                <button class="btn-g-style btn-g-again">重新引导</button>
                <button class="btn-g-style btn-g-close">关闭</button>
            </p>
        </div>
    </div>
    <!--文字提示框-->
<!-- </div> -->
