<!-- <div class="guide-bg"> -->
    <!--导航遮罩-->
    <div class="shade-nav"></div>
    <!--导航遮罩-->
    <!--文字提示框-->
    <div class="promptbox pos-prompt01">
        <div class="prompt-text">
            <p class="font-blue">欢迎使用匡恩网络KEV-C200/KEA-C200，我们帮助您做一些引导：</p>
            <br />
            <p class="font-black">首先请添加用户，请点击<span class="font-key">“设备管理”</span></p>
        </div>
    </div>
    <!--文字提示框-->
    <!--结束引导按钮-->
    <!-- <button class="btn-guidestyle btn-g-pre">上一步</button> -->
    <button class="btn-guidestyle btn-g-over">结束引导</button>
    <button class="btn-guidestyle" style="position: absolute;bottom: 90px;left: 20px;background: #5d73d5;" onclick="javascript:introJs().start();">开始向导</button>
    <!--引导箭头-->
    <div class="arrowsbox pos-arrows01">

    </div>
<!-- </div> -->