    <!--导航遮罩-->
    <div class="shade-nav"></div>
    <!--导航遮罩-->
    <!--文字提示框-->
    <div class="promptbox pos-prompt07">
        <div class="prompt-text">
            <p class="font-black">然后，点<span class="font-key">“应用”</span>按钮</p>
            <p class="font-black">点击应用后，会将选中的白名单部署到当前DPI上</p>
        </div>
    </div>
    <!--文字提示框-->
    <!--结束引导按钮-->
    <button class="btn-guidestyle btn-g-pre">上一步</button>
    <button class="btn-guidestyle btn-g-over">结束引导</button>
    <!--引导箭头-->
    <div class="arrowsbox pos-arrows07">

    </div>

