    <!--导航遮罩-->
    <div class="shade-nav"></div>
    <!--导航遮罩-->
    <!--文字提示框-->
    <div class="promptbox pos-prompt03">
        <div class="prompt-text">
            <p class="font-black">然后，请矫正当前时间</p>
            <br />
            <p class="font-black">完成之后点<span class="font-key">“设置”</span></p>
        </div>
    </div>
    <!--文字提示框-->
    <!--结束引导按钮-->
    <button class="btn-guidestyle btn-g-pre">上一步</button>
    <button class="btn-guidestyle btn-g-over">结束引导</button>

    <!--引导箭头-->

    <div class="arrowsbox pos-arrows03">

    </div>
