    <!--导航遮罩-->
    <div class="shade-nav"></div>
    <!--导航遮罩-->
    <!--文字提示框-->
    <div class="promptbox pos-prompt06">
        <div class="prompt-text">
            <p class="font-black">OK~ 您已经完成白名单学习</p>
            <br />
            <p class="font-black">请点击<span class="font-key">“全选/反选”</span>按钮</p>
        </div>
    </div>
    <!--文字提示框-->
    <!--结束引导按钮-->
    <button class="btn-guidestyle btn-g-pre">上一步</button>
    <button class="btn-guidestyle btn-g-over">结束引导</button>
    <!--引导箭头-->
    <div class="arrowsbox pos-arrows06">

    </div>
