        <!--导航遮罩-->
        <div class="shade-nav"></div>
        <!--导航遮罩-->
        <!--文字提示框-->
        <div class="promptbox pos-prompt02">
            <div class="prompt-text">
                <p class="font-black">请您在基本设置中，对IP做设置</p>
                <p class="font-black">请输入<span class="font-key">“IP”</span>和<span class="font-key">“子网掩码”</span></p>
                <p class="font-black">完成之后点<span class="font-key">“设置”</span>按钮</p>
            </div>
        </div>
        <!--文字提示框-->
        <!--结束引导按钮-->
        <button class="btn-guidestyle btn-g-pre">上一步</button>
        <button class="btn-guidestyle btn-g-over">结束引导</button>

        <!--引导箭头-->
        <div class="arrowsbox pos-arrows02">

        </div>
