    <!--导航遮罩-->
    <div class="shade-nav"></div>
    <!--导航遮罩-->
    <!--文字提示框-->
    <div class="promptbox pos-prompt04">
        <div class="prompt-text">
            <p class="font-blue">OK！让我们去学习吧~</p>
            <br />
            <p class="font-black">请点击<span class="font-key">“规则管理”</span>下的子菜单<span class="font-key">“白名单”</span></p>
        </div>
    </div>
    <!--文字提示框-->
    <!--结束引导按钮-->
    <button class="btn-guidestyle btn-g-pre">上一步</button>
    <button class="btn-guidestyle btn-g-over">结束引导</button>
    <!--引导箭头-->
    <div class="arrowsbox pos-arrows04">

    </div>
