<!--规则详细 弹窗-->
<div class="enevt_details">
    <div class="popup_txt">
        <div class="h1">漏洞信息</div>
        <ul class="ev_txt">
            <li>漏洞名称：<span id="$elementId$_lblBugName" data-id="$elementId$_lblBugName"></span></li>
            <li>漏洞统一编号：<span id="$elementId$_lblBugNo" data-id="$elementId$_lblBugNo"></span></li>
            <li>漏洞类型：<span id="$elementId$_lblBugType" data-id="$elementId$_lblBugType"></span></li>
            <li>漏洞来源：<span id="$elementId$_lblBugSource" data-id="$elementId$_lblBugSource"></span></li>
            <li>发生时间：<span id="$elementId$_lblBugTime" data-id="$elementId$_lblBugTime"></span></li>
            <li>危害等级：<span id="$elementId$_lblBugLevel" data-id="$elementId$_lblBugLevel"></span></li>
        </ul>
        <hr />
        <ul class="ev_txt">
            <li>触发设备：<span id="$elementId$_lblBugDevice" data-id="$elementId$_lblBugDevice"></span></li>
            <li>规则来源：<span id="$elementId$_lblBugRuleSource" data-id="$elementId$_lblBugRuleSource"> </span></li>
            <li>事件处理：<span id="$elementId$_lblBugEventHandle" data-id="$elementId$_lblBugEventHandle"></span></li>
            <li>受影响厂商：<span id="$elementId$_lblCompactCompany" data-id="$elementId$_lblCompactCompany"></span></li>
        </ul>
        <hr />
        <div class="divoverflow">
            <div class="agreementtitle">攻击条件：</div>
            <div class="agreement" id="$elementId$_lblAttackCondition" data-id="$elementId$_lblAttackCondition"></div>
        </div>
        <hr />
        <div class="divoverflow">
            <div class="agreementtitle">规则描述：</div>
            <div class="agreement" id="$elementId$_lblRuleContent" data-id="$elementId$_lblRuleContent"></div>
        </div>
        <hr />
        <div class="h1">修补特征</div>
        <ul class="ev_txt">
            <li>特征名称：<span id="$elementId$_lblFeatureName" data-id="$elementId$_lblFeatureName"></span></li>
            <li>优先级：<span id="$elementId$_lblFeaturePriority" data-id="$elementId$_lblFeaturePriority"></span></li>
            <li>风险等级：<span id="$elementId$_lblFeatureRisk" data-id="$elementId$_lblFeatureRisk"></span></li>
            <li>特征编号：<span id="$elementId$_lblFeatureNo" data-id="$elementId$_lblFeatureNo"></span></li>
        </ul>
    </div>
</div>
<!--规则详细 弹窗-->
