<!--规则详细 弹窗-->
<div class="enevt_details">
    <div class="popup_txt">
        <ul class="ev_txt h1">
            <li>协议名称：<span id="$elementId$_lblProtocolName"></span></li>
            <li>传输协议：<span id="$elementId$_lblTransportProtocol"></span></li>
        </ul>
        <hr/>
        <div class="h1">协议识别</div>
        <ul class="ev_txt portkaje">
            <li>端口识别：
                <span id="$elementId$_lblIdentificationPort">
                    <label>无</label>
                </span>
            </li>
            <li>特征识别：
                <span>
                    <span>特征码：</span>
                    <span class="authen" id="$elementId$_lblIdentityKey">无</span>
                </span>
            </li>
        </ul>
        <hr/>
        <div class="h1">协议解析</div>
        <div>
            <ul class="ev_txt" id="$elementId$_lblProtocolParser">
                <!--<li class="Portresolution">
                    <b>解析内容：</b>
                    <div>
                        <article>
                            <dl>
                                <dd>内容名称：goodpro</dd>
                                <br>
                                <dd>
                                    <dl>
                                        <dd>类型：</dd>
                                        <dd>
                                            <span>数据包长度：integer,4,2,little</span><br>
                                            <span>内容编码：string,3,3,ascii,end-flag,1243</span><br>
                                            <dl>
                                                <dd>匹配键值：</dd>
                                                <dd>
                                                    match,1,4,11223344<br/>
                                                    match,1,4,11223344<br/>
                                                    match,1,4,11223344
                                                </dd>
                                            </dl>
                                        </dd>
                                    </dl>
                                </dd>
                            </dl>
                        </article>
                    </div>
                </li>-->
            </ul>
        </div>
    </div>
</div>
<!--规则详细 弹窗-->
