<div class="tabel_div">
    <table data-id="$elementId$_tdWhitelistList" id="$elementId$_tdWhitelistList">
    </table>
    <div class="allevent">
        已启用总规则数: <span style="color:#ff8761;" data-id="$elementId$_lblTotalWhitelist" id="$elementId$_lblTotalWhitelist"> 0</span>
        <button class="roll_but but_empty" style="margin-right:0px;" data-id="$elementId$_btnClear" id="$elementId$_btnClear">清空所有规则</button>
    </div>
</div>
<div class="evpage" data-id="$elementId$_pagerContent" id="$elementId$_pagerContent">
</div>