<!--安全事件 弹窗-->
<div class="enevt_details">
    <div class="popup_txt">
        <div class="h1">事件内容</div>
        <ul class="ev_txt">
            <li>事件等级：<span id="$elementId$_lblEventLevel" data-id="$elementId$_lblEventLevel"></span></li>
            <li>风险等级：<span id="$elementId$_lblRiskLevel" data-id="$elementId$_lblRiskLevel"></span></li>
            <li>事件类别：<span id="$elementId$_lblEventType" data-id="$elementId$_lblEventType"></span></li>
            <li>发生日期：<span id="$elementId$_lblEventDate" data-id="$elementId$_lblEventDate"></span></li>
            <li>发生时间：<span id="$elementId$_lblEventTime" data-id="$elementId$_lblEventTime"></span></li>
        </ul>
        <hr>
        <div class="h1">事件协议</div>
        <ul class="ev_txt">
            <li>网络层协议：<span id="$elementId$_lblApplicationProtocol" data-id="$elementId$_lblApplicationProtocol"></span></li>
            <li>网络应用协议：<span id="$elementId$_lblNetworkProtocol" data-id="$elementId$_lblEventProtocol"> </span></li>
            <li>备注：<span id="$elementId$_lblEventRemark" data-id="$elementId$_lblEventRemark"></span></li>
        </ul>
        <div class="divoverflow">
            <div class="agreementtitle">协议细节：</div>
            <div class="agreement" id="$elementId$_lblProtocolContent" data-id="$elementId$_lblProtocolContent"></div>
        </div>
        <hr>
        <div class="h1">规则项</div>
        <div class="divoverflow">
            <div class="agreementtitle">规则项：</div>
            <div class="agreement" id="$elementId$_lblRuleContent" data-id="$elementId$_lblRuleContent"></div>
        </div>
        <hr>
        <div class="h1">事件包</div>
        <p>长度：<span id="$elementId$_lblEventSize" data-id="$elementId$_lblEventSize"></span></p>
        <div class="divoverflow">
            <div class="agreementtitle">内容：</div>
            <div class="agreement" id="$elementId$_lblEventContent" data-id="$elementId$_lblEventContent"></div>
        </div>
    </div>
</div>
<!--安全事件 弹窗-->
