<a class="index" href="javascript:void(0);" data-id="$elementId$_btnFirstPage" id="$elementId$_btnFirstPage">
    <span>首页</span>
</a>
<a style="margin-right:20px;" class="index" href="javascript:void(0);" data-id="$elementId$_btnPrevPage" id="$elementId$_btnPrevPage">
    <span>上一页</span>
</a>
<ul data-id="$elementId$_pageContent" id="$elementId$_pageContent">
</ul>
<a style="margin-left:20px;" class="index" href="javascript:void(0);" data-id="$elementId$_btnNextPage" id="$elementId$_btnNextPage">
    <span>下一页</span>
</a>
<a class="index" href="javascript:void(0);" data-id="$elementId$_btnLastPage" id="$elementId$_btnLastPage">
    <span>尾页</span>
</a>
<input type="text" class="changepage" placeholder="1/1" data-id="$elementId$_txtPageNO" id="$elementId$_txtPageNO" />
<button class="butpage" data-id="$elementId$_goPage" id="$elementId$_btnGoPage">跳转</button>
