<div class="enevt_details">
    <div class="popup_txt">
        <ul class="ev_txt">
            <li style="width:30%;margin-right:20px;">协议类型：<span id="$elementId$_lblType" data-id="$elementId$_lblType"></span></li>
            <li style="width:30%;margin-right:20px;">起始时间：<span id="$elementId$_lblTime" data-id="$elementId$_lblTime"></span></li>
            <li style="width:30%;margin-right:20px;">端口：<span id="$elementId$_lblPort" data-id="$elementId$_lblPort"></span></li>
            <li style="width:30%;margin-right:20px;">IP地址：<span id="$elementId$_lblIP" data-id="$elementId$_lblIP"></span></li>
            <li style="width:32%;margin-right:0px;">MAC地址：<span id="$elementId$_lblMAC" data-id="$elementId$_lblMAC"></span></li>
        </ul>
        <hr />
        <div class="tabel_div">
            <table data-id="$elementId$_tdProtocolList" id="$elementId$_tdProtocolList"></table>
            <div class="allevent">总共 <span style="color:#ff8761;" data-id="$elementId$_lblTotalProtocol" id="$elementId$_lblTotalProtocol"> 0</span> 条记录</div>
        </div>
        <div class="evpage" data-id="$elementId$_pagerContent" id="$elementId$_pagerContent"></div>
    </div>
</div>
