<!--Log信息  begin-->
<div class="eventinfo_box">
    <div class="tabsafeev" style="margin-top:0px;">
        <div class="tabtitle">
            <ul>
                <li class="hit" data-id="$elementId$_totalLoginLog">登录日志 (<span class="evnumber" id="$elementId$_totalLoginLog">0</span>)</li>
                <li data-id="$elementId$_totalOperationLog">操作日志 (<span class="evnumber" id="$elementId$_totalOperationLog">0</span>)</li>
            </ul>
        </div>
        <div class="tabmian">
            <!--事件加载-->
            <div class="tabmiantxt" data-id="$elementId$_loginLogHolder" id="$elementId$_loginLogHolder">
            </div>
            <div class="tabmiantxt" style="display:none;" data-id="$elementId$_operationLogHolder" id="$elementId$_operationLogHolder">
            </div>
            <!--事件加载-->
        </div>
    </div>
    <a href="" target="_blank" style="width:1px;height:1px;" data-id="$elementId$_downloadHolder" id="$elementId$_downloadHolder"></a>
</div>