<!--设备管理  begin-->
<div class="eventinfo_box">
    <div class="tabsafeev" style="margin-top:0px;">
        <div class="tabtitle">
            <ul>
                <li class="hit" data-id="$elementId$_totalBasicDevice">基础设置</li>
                <li data-id="$elementId$_totalAdvanceDevice">高级设置</li>
            </ul>
        </div>
        <div class="tabmian">
            <div class="tabmiantxt" data-id="$elementId$_basicDeviceHolder" id="$elementId$_basicDeviceHolder">
            </div>
            <div class="tabmiantxt" style="display:none;" data-id="$elementId$_advanceDeviceHolder" id="$elementId$_advanceDeviceHolder">
            </div>
        </div>
    </div>
</div>